@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3 class="view-title">Dr. Sneuss' Factory</h3>
<hr />
<h4 class="view-title">Machine Details</h4>
<div class="flex container">
  <h4 class="view-title">@Html.Label($"{Model.MachineName}")</h4>
  <h5 class="link">@Html.ActionLink("Edit Machine Details", "Edit")  |  @Html.ActionLink("Remove Machine", "Delete")</h5>
  <h5 class="view-title">Qualified Technicians</h5>
  @* @if (@Model.Technicians.Count == 0)
  {
    <h5>No Qualified Technicians</h5>
  } 
  else
  {
    @foreach(var join in Model.Technicians)
    {
      <h3>@Html.ActionLink($"{join.Technician.Name}", "Details", "Technicians", new { id = join.Technician.TechnicianId })</h3>
    }
  } *@
</div>